@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* Firefox */
* {
  scrollbar-width: 8px;
  scrollbar-color: #1f1f1f;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 10px !important;
  width: 10px !important;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #000000 !important;
}

*::-webkit-scrollbar-track:hover {
  background-color: #000000 !important;
}

*::-webkit-scrollbar-track:active {
  background-color: #000000 !important;
}

*::-webkit-scrollbar-thumb {
  border-radius: 3px !important;
  background-color: #39c0ed !important;
  border: 2px solid #000000 !important;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #39c0ed !important;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #39c0ed !important;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.nav-link {
  position: relative;
  color: white;
  text-decoration: none;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #67cbff;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav-link:hover::after {
  transform: scaleX(1);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .title {
    @apply font-bold font-montserrat text-3xl;
  }
  .btn-primary {
    @apply flex items-center justify-center transition-all duration-200 text-white text-base font-medium active:px-[16px] py-[8px] px-[18px] border border-white/5 rounded-md bg-authorify-blue hover:bg-white hover:text-authorify-blue whitespace-nowrap uppercase;
  }

  .btn-secondary {
    @apply flex items-center justify-center transition-all duration-200 text-white text-base font-medium active:px-[16px] py-[8px] px-[18px] border border-white/5 rounded-md bg-black/5 hover:bg-white hover:text-black whitespace-nowrap uppercase;
  }
}
